@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");
* {
    font-family: "Outfit", sans-serif;
}
:root {
    --main-color: rgb(255, 131, 150);
    --main-color-bold: rgb(253, 69, 97);
    --secondary-color: rgb(234, 129, 46);
    --tertiary-color: rgb(111, 143, 175);
    --tetrary-color: rgb(64, 130, 109);
    --black-color: rgb(37, 39, 48);
    --dark-color: rgb(63, 67, 81);
    --gray-color: rgb(109, 111, 127);
    --light-color: rgb(236, 216, 39);
    --menu-color: rgb(255, 131, 150);
}
.c {
    max-width: 60em;
    padding: 1em;
    margin: auto;
}
hr {
    outline: 0;
    border: solid var(--main-color);
}
input {
    accent-color: var(--main-color);
    width:95%;
    height: auto;
    margin: 6px;
}
/* custom input field */
.custom-field {
    position: relative;
    font-size: 12px;
    display: inline-block;
    --field-padding: 10px;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgb(255, 241, 243);
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
}

.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 4));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top:50%;
    line-height: 100%;
    transform: translateY(-50%);
    color: var(--main-color);
    transition:
            top 0.3s ease,
            color 0.3s ease,
            font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 10px;
    color: var(--main-color-bold);
}

.custom-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: #fff;
    height: 24px;
}

.custom-field .error-message:empty {
    opacity: 0;
}

.custom-field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
            linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
            linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
            linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}


.flex-container {
    display: flex;
}
.flex-item {
    flex: 1;
    flex-wrap: wrap;
}
.flex-item-1 {
    flex: calc(1 / 12);
}
.flex-item-2 {
    flex: calc(2 / 12);
}
.flex-item-3 {
    flex: calc(3 / 12);
}
.flex-item-4 {
    flex: calc(4 / 12);
}
.flex-item-5 {
    flex: calc(5 / 12);
}
.flex-item-6 {
    flex: calc(1 / 2);
}
.flex-item-7 {
    flex: calc(7 / 12);
}
.flex-item-8 {
    flex: calc(8 / 12);
}
.flex-item-9 {
    flex: calc(9 / 12);
}
.flex-item-10 {
    flex: calc(10 / 12);
}
.flex-item-11 {
    flex: calc(11 / 12);
}
.flex-item-center {
    justify-content: center;
}
.flex-item-start {
    justify-content: flex-start;
}
.flex-item-end {
    justify-content: flex-end;
}
.flex-item-between {
    justify-content: space-between;
}
.flex-item-around {
    justify-content: space-around;
}
.align-center {
    align-items: center !important;
}
.self-end{
    align-self: end;
}
.self-start{
    align-self: start;
}
.self-center{
    align-self: center;
}
button,
a {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    color: var(--main-color);
    text-decoration: none;
}
a:hover {
    opacity: 0.6;
}
.btn {
    display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.6em 1.6em;
    font-weight: 500;
    border-width: 0;
    border-style: solid;
    background: transparent;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    user-select: none;
    vertical-align: bottom;
    transition: box-shadow 0.2s, transform 0.2s;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.btn.btn-disabled {
    cursor: not-allowed;
    opacity: 0.8;
}
.btn.btn-disabled:active {
    opacity: 0.6;
}
.btn:hover {
    transform: scale(1.02);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: scale(0.99);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.15) inset;
    transition-duration: 0.05s;
}
.btn-primary {
    color: var(--main-color);
}
.btn-secondary {
    color: var(--secondary-color);
}
.btn-tertiary {
    color: var(--tertiary-color);
}
.btn-tetrary {
    color: var(--tetrary-color);
}
.btn-black {
    color: var(--black-color);
}
.btn-dark {
    color: var(--dark-color);
}
.btn-gray {
    color: var(--gray-color);
}
.btn-light {
    color: var(--light-color);
}
.btn-sm {
    font-size: 0.75em !important;
}
.btn-md {
    font-size: 0.9em !important;
}
.btn-lg {
    font-size: 1.6em !important;
}
.card,
pre {
    padding: 1em;
    border: solid rgb(255, 227, 231);
    border-width: 3px;
}
div.menu_icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 0 4px rgba(71, 89, 126, 0.3);
}
div.menu_icon {
    display: none;
}
div.menu_icon .menu_open {
    position: absolute;
    width: 0.55em;
    height: 0.55em;
    background: var(--menu-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}
div.menu_icon .menu_open.box_1 {
    top: 0.4rem;
    left: 0.4rem;
}
div.menu_icon .menu_open.box_2 {
    top: 0.4rem;
    right: 0.4rem;
}
div.menu_icon .menu_open.box_3 {
    bottom: 0.4rem;
    left: 0.4rem;
}
div.menu_icon .menu_open.box_4 {
    bottom: 0.4rem;
    right: 0.4rem;
}
div.menu_icon .menu_close {
    position: absolute;
    width: 20px;
    height: 4px;
    background: var(--menu-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}
div.menu_icon .menu_close.close_1 {
    transform: rotate(45deg) scaleX(0);
}
div.menu_icon .menu_close.close_2 {
    transform: rotate(-45deg) scaleX(0);
}
div.menu_candy.menu_active .menu_open {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}
div.menu_candy.menu_active .menu_close.close_1 {
    transform: rotate(45deg) scaleX(1);
}
div.menu_candy.menu_active .menu_close.close_2 {
    transform: rotate(-45deg) scaleX(1);
}
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .card,
    pre {
        border-width: 2px;
    }
    div.menu_icon {
        display: flex;
    }
    .brand {
        flex-direction: row !important;
    }
    .menu_content{
        display:none;
    }
    .menu_content_display {
        opacity: 1;
        display: flex;
    }
}