:root {
    --font: nunito;
    --primary-color: #fa0;
    --light: #eee;
}
::-moz-selection { /* Code for Firefox */
	color: #FFAA00;
	background: white;
}

::selection {
	color: #FFAA00;
	background: #F6F7F8;
}
* {
    box-sizing: border-box;
}

*+* {
    margin: .5em 0;
}

pre {
    overflow: auto
}

@media(min-width:35em) {
    .col {
        display: table-cell;
    }

    .\31 {
        width: 5%;
    }

    .\33 {
        width: 22%;
    }

    .\34 {
        width: 30%;
    }

    .\35 {
        width: 40%;
    }

    .\32 {
        width: 15%;
    }

    .\36 {
        width: 50%;
    }

    .row {
        display: table;
        border-spacing: 1em 0;
    }
}

.w-100,
.row {
    width: 100%;
}

.card:focus,
hr {
    outline: 0;
    border: solid var(--primary-color);
}

.card,
pre {
    padding: 1em;
    border: solid var(--light);
}

a:hover,
.btn:hover {
    opacity: .6;
}

.c {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 var(--font);
}

h6 {
    font: 100 1em var(--font);
}

h5 {
    font: 100 1.2em var(--font);
}

h3 {
    font: 100 2em var(--font);
}

h4 {
    font: 100 1.5em var(--font);
}

h2 {
    font: 100 2.2em var(--font);
}

h1 {
    font: 100 2.5em var(--font);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.btn.primary {
    color: white;
    background: var(--primary-color);
    border: solid var(--primary-color);
}

td,
th {
    padding: 1em;
    text-align: left;
    border-bottom: solid var(--light);
}

.btn {
    padding: 1em;
    text-transform: uppercase;
    background: white;
    border: solid;
    cursor: pointer;
    font: .7em var(--font);
    border-radius: 2.5px;
}
